html {
    scroll-behavior: smooth;
}

/* body {
    background-image: url('../img/bgnew.svg');
    background-size: cover;
    background-repeat: no-repeat;
} */

.navbar {
    background-color: white !important;
}

.navbar-brand {
    font-family: 'Yeseva One', cursive !important;
    color: #F9768A !important;
    font-size: 25px;
}

.navbar-nav li a {
    font-family: 'Yeseva One', cursive !important;
    color: #FC9BAA !important;
    font-size: 20px;
}

.wrapper, .wrapper2 {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.wrapper {
    background-image: url('../img/bgnew.svg');
    min-height: 100%;
}

.wrapper2 {
    background-image: url('../img/secondLayer.svg');
    min-height: 100%
}

/* .first {
    background-image: url('../img/bgnew.svg');
    min-height: 100%;
} */

/* .second {
    background-image: url('../img/secondLayer.svg');
    min-height: 100%
} */

.third {
    background-image: url('../img/contactMe.svg');
    min-height: 100%;
}

.row {
    font-family: 'Coming Soon', cursive;
}

.row-one {
    color: #DB2343;
}

.row h2 {
    font-size: 60px;
    padding-top: 110px;
}

.row h1 {
    font-size: 80px;
}

.row-white {
    color: white;
    padding-left: 60px;
}

.row-p {
    font-size: 25px;
}

#aboutMe {
    padding-top: 600px;
    z-index: 1;
}

#clouds {
    padding-top: -200px;
    padding-bottom: 100px;
    z-index: 1;
}

.card {
    color: white;
    background-image: linear-gradient(#189878, #7ADBC2) !important;
    height: 400px;
    border-radius: 25px;
}

.middle {
    padding-top: 5px;
    padding-bottom: 5px;
}

.image {
    padding-bottom: 20px;
}

#ui {
    width: 45%;
}

#sma17 {
    width: 50%;}

#smp9 {
    width: 50%
}

#skillCard {
    justify-self: center;
}


/* @media(max-width:568px) {
    #aboutMe {
        padding-top: 200px;
    }
}

@media (max-width: 768px) { 
    #aboutMe {
        padding-top: 500px;
    }
} */
